.container {
  display: grid;
  grid-template-columns: 100px 100px;
  gap: 10px;
}

span {
  width: 100px;
  height: 100px;
  background-color: goldenrod;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer {
  display: none;
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: grey;
}

.modal {
  width: 200px;
  padding: 20px;
  height: 200px;
  margin: auto;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: 0 0 5px;
}
